/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/storage
/dataProviders
.env
.env.backup
.phpunit.result.cache
.idea
Homestead.json
data-providers.json
Homestead.yaml
npm-debug.log
yarn-error.log

